<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="simple">
    <input id="a" type="text" v-bind:value="message">
    <input id="a" type="text" v-model:value="message2">
    <br />
    <img v-bind:src="imagePath" />
    <img :src="imagePath" />
  </div>

  <div id="simple1">
    <div>좋아하는 과일</div>
    <input type="checkbox" value="1" v-model="fruits">사과,
    <input type="checkbox" value="2" v-model="fruits">키위,
    <input type="checkbox" value="3" v-model="fruits">포도,
    <input type="checkbox" value="4" v-model="fruits">수박,
    <input type="checkbox" value="5" v-model="fruits">참외,
  </div>
  <hr />
  <div id="simple2">
    선택한 과일들 : <span v-html="fruits"></span>
  </div>

  <div id="account">
    예금액 : <input type="text" v-model="amount" />
    <img v-if="amount < 0" src="./images/error.png" />

    잔고 : <input type="text" v-model="balance" />
    
    <span v-if="balance >= 100">GOLD</span>
    <span v-else-if="balance >= 50">SILVER</span>
    <span v-else-if="balance >= 10">BRONZE</span>
    <span v-else>BASIC</span>
  </div>

  <div id="example">
    <table id="list">
      <thead>
        <tr>
          <th>번호</th>
          <th>이름</th>
        </tr>
      </thead>
      <tbody id="content">
        <tr v-for="(person, index) in list">
          <td>{{index+1}}</td>
          <td>{{person.no}}</td>
          <td>{{person.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <script>
    var model = {
      message : 'v-bind directive',
      message2 : 'v-bind directive',
      imagePath: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJy2r--qaZeIOPz4GNQeqwSdyqL2BdgfjQ2Xxj-70rBQObjL-sWw',

      fruits: [],
      amount: '',
      balance: '',
      list: [
        { "no": 101, name: '욱'},
        { "no": 223, name: '은'},
        { "no": 312, name: '하'},
        { "no": 400, name: '창'},
        { "no": 512, name: '이'},
        { "no": 673, name: '백'},
      ],
    }

    var content = new Vue({
      el: '#content',
      data: model,
    })

    var simple = new Vue({
      el : '#simple',
      data : model,
    })

    var simple1 = new Vue({
      el: '#simple1',
      data: model,
    })

    var simple2 = new Vue({
      el: '#simple2',
      data: model,
    })

    var account = new Vue({
      el: '#account',
      data: model,
    })
  </script>
</body>
</html>
